<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/stylehome.css">
</head>
<body>
    <h2>Home</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores, cupiditate. Molestiae optio dolor voluptates laudantium placeat molestias tempore tempora exercitationem, quas, ipsum facere perspiciatis quidem, ipsa porro officiis vel assumenda! Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum ea pariatur magni, quaerat quia architecto maiores nostrum, dolores ut, saepe officia incidunt. Nesciunt molestias praesentium ratione unde dolor porro obcaecati!</p>
</body>
</html>